.body
{
    background:url("image.png");
    background-position: top right;
}

h1
{
    color: slategrey;
}
.intro
{
    color: indianred;
    text-align: justify;
    font-size: 35px;
    font-style: italic;

}
p
{
    color: darkblue;
    text-align: justify;
    font-size: medium;
    font-family: "Georgia" ;


}

.image
{
display:block;
max-width: 10%;
	height: 10%;
}

nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
    text-transform: uppercase;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

footer
{
padding-bottom: bottom-right;
}

