body
{
    font-family: Georgia;
    text-align: justify;
    width: 900px;
    margin: auto;
}

section h4
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}

nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
    text-transform: uppercase;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

td a

{
    color: #6E6E6E;

}

td a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

#banner_image

{

    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('/img/ustensiles.png') no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: 25px;

}

#banner_description

{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    color: white;
    font-size: 0.8em;
}

footer
{
      padding-bottom: 5px;
}

/* Voici les règles à appliquer aux champs invalides */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input{
          box-sizing: border-box;
          text-align:left;

}

textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;

    width: 600px;

    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;

        /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
        /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;
}

.button {
  padding-left: 150px;
}

input:text{
    padding-left: 90px;
}
label

{

    display: block;

    width: 150px;

    float: left;

}
