<nav>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="resultat">Lister</a></li>
    <li><a href="ajoutRecette.html">Ajouter</a></li>
    <li><a href="rechercheRecette.html">Rechercher</a></li>
  </ul>
</nav>
