<html>
{{> head}}

<body>
  <header>
    {{> nav}}
    <h1>Mon carnet de Recettes</h1>
  </header>
<p>
Aucune recette ne correspond à votre recherche.
Veuillez réessayer avec<a href="rechercheRecette.html"> d'autres critères </a> ou soyez le premier à <a href="ajoutRecette.html">créer la recette</a> appropriée.
</p>
    {{> footer}}

</body>
</html>
