<!DOCTYPE html>
<html>
  {{> head}}

<body>
  <header>
{{>nav}}
  </header>
  <h1>Mon carnet de Recettes</h1>
  <div id="banner_image">
    <div id="banner_description">
    </div>
  </div>
  <p>
    Cette application regroupe les recettes que j'ai déjà testées (et qui ont été approuvées !).</br>
    Prochainement nous pourrons faire une recherche par nom, type de plat <em>apéritif, entrée, viande, poisson, légume, dessert, biscuit</em>    ou par ingrédients.
  </p>
  </br>
</body>
{{>footer}}

</html>
